{% extends "base_layout.html" %}
{% block content %}

    <div class="container">
        <!-- Content here -->
        <div class="row align-items-center">


            <div class="col-md-3">
                <div id="plot"></div>
                <a class="btn btn-primary" role="button" id="btnGetPlot" target="_blank" style="width=100%">GetPlot</a>
                              </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
<script>
     $("#btnGetPlot").on('click', function () {
        let slope = 1;
        for (i = 0; i < Bokeh.documents.length; i++) {
            var model = Bokeh.documents[i].get_model_by_name("slope_ds");
            console.log(i)
            if (model != null) {
                column_ds = model;
                slope = column_ds.data.slope;
            }
        }
        $.getJSON("{{ url_for("get_plot", last_slope=slope) }}", function (data) {
                   $("#plot").html(data.plot);
        });
     });
     $('#slopeSlider').slider({
	    formatter: function(value) {
		return 'Current value: ' + value;
	    }
    }).on('slide', slide); // Change the 'change' to any other event slide, slideStart, etc.


    function slide(e){
        console.log(e);
    }


</script>

{% endblock %}